{:deps
 {binaryage/oops            {:mvn/version "0.6.2"}
  mount                     {:mvn/version "0.1.13"}
  camel-snake-kebab         {:mvn/version "0.4.0"}
  com.taoensso/timbre       {:mvn/version "4.10.0"}
  funcool/promesa           {:mvn/version "1.9.0"}
  honeysql                  {:mvn/version "0.9.4"}
  nilenso/honeysql-postgres {:mvn/version "0.2.5"}
  cljs-ajax                 {:mvn/version "0.7.4"}
  hiccups                   {:mvn/version "0.3.0"}
  org.clojure/java.jdbc     {:mvn/version "0.7.8"}
  org.postgresql/postgresql {:mvn/version "42.2.5.jre7"}}}
